:root {
    --grey: #C7C7C7;
    --white: #FFF;
    --grey2: #DCDCDC;
    --violet: #8E32C6;
    --grey3: #959595;
    --dark_blue: #021635;
    --light:#D8D8D8; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
}

img {
    display: block;
}

.team-desk {
    margin: 0;
}

.button {
    margin: 0;
}

body,
html {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1091px;
    margin: 0px auto;
}

/* HEADER */

header {
    background: #012D63;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 33px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.header-content_logo {
    width: 100px;
    height: 60px;
}
.header-list {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.header-content-link {
    text-decoration: none;
    margin-right: 29px;
    color: var(--grey);
    transition: transform .4s ease;
    display: inline-block;
    margin-right: 29px;
}

.header-content-link:hover {
    transform: scale(1.05);
}

.header-content-link:first-of-type {
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    ml200px
}

.active {
    color: #FFF;

}

.header-content-last-link {
    text-decoration: none;
    color: var(--grey2);
}

.content-span {
    margin-left: 8px;
    color: var(--white);

}

/* MAIN */
.main-content-img {
    margin-top: 91px;
    width: 160px;
    height: 120px;

}

.content {
    background-image: url(../img/shoes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
    padding-top: 91px;
    padding-bottom: 184px;
}

.content-img {
    width: 200px;
    height: 120px;
}

.content-about {
    color: var(--white);
    font-family: "PT Serif";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    w178
}

.content-title {
    color: var(--white);
    font-family: "Playfair Display", serif;
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

.content-title2 {
    color: var(--white);
    font-family: "Playfair Display", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}


.content-text:last-of-type {
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 18px;
    margin-bottom: 41px;

}

.content-button {
    color: var(--white);
    background-color: var(--violet);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 20px 61px;
    border-radius: 10px;
    transition: transform .4s ease;
    display: inline-block;
}

.content-button:hover {
    transform: scale(1.05);
    color: var(--grey2);
}

/* ADVANTAGES */
.advantages {
    background-image: url(../img/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 105px;
    padding-bottom: 105px;
}

.advantages-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--violet);

}

.advantages-title {
    color: var(--white);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.advantages-box {
    padding-left: 50px;
    padding-right: 50px;
    border-left: 1px solid var(--white);
}
.advantages-box:first-of-type {
    border-right: 1px solid var(--white);
    border-left: 0px;
}
.advantages-title:first-of-type {
    padding-top: 25px;
}

.advantages-title h2 {
    padding-bottom: 25px;
}

.advantages-title:last-of-type {
    padding-top: 22px;
    padding-bottom: 6px;
}
/* REviEWS */
.reviews {
    background-image: url(../img/group.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 115px;
    padding-top: 24px;
}

.reviews-title {
    color: var(--white);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
}

.reviews-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 93px;
}

.reviews-item:first-of-type {
    border-radius: 15px;
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;

    width: 255px;
    height: 292px;

}

.reviews-item {
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;

    width: 255px;
    height: 292px;

}

.reviews-item:last-of-type {
    border-radius: 15px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
    width: 255px;
    height: 292px;


}
.reviews-deskription {
    color: var(--grey2);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 18px;
    margin-bottom: 47px;
}
.reviews-wrapper {
    display: flex;
}
.reviews-box {
    flex-direction: column;
    margin-left: 5px;
}
.reviews-img {
    width: 31px;
    height: 31px;
    border-radius: 31px;
    margin-bottom: 29px;
    margin-left: 18px;
}

.reviews_text {
    color: var(--white);
    padding-top: 49px;
    padding-left: 18px;
    padding-right: 9px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}
.reviews-text2 {
    color: var(--white);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.reviews-text-third {
    color: var(--light);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.reviews-item:last-of-type .main-reviews-text1 {
    color: var(--white);
    padding-top: 49px;
    padding-left: 18px;
    padding-right: 9px;
    font-size: 24pitem
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

/* ORDER */
.order {
    background-image: url(../img/fon4.jpg);
    padding-top: 20px;
    padding-bottom: 38px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.order-text {
    color: var(--white);
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 33px;
}
.order-list {
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.order-input1 {
    width: 690px;
    height: 60px;
    border-radius: 50px;
    background-color: var(--white);
    color: var(--grey3);
    border: none;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 25px;
}
.order-input {
    width: 580px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--white);
    border: none;
    color: var(--grey3);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 24px;
}
.order-button {
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
    padding: 20px 49px;
    background-color: var(--violet);
    border-radius: 16px;
    border: none;
    margin-top: 19px;
}
/* FOOTER */
.nike-footer {
    background-color: var(--dark_blue);
    padding-bottom: 50px;
    padding-top: 45px;
}

.site-about {
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
}

.site-about p {
    margin-bottom: 10px;
}

.site-about p:last-of-type {
    margin-bottom: 0;
}

.footer-about {

    display: flex;
    flex-direction: column;
    align-items: end;


}

.footer-about a:last-of-type {
    margin-bottom: 0;
}

.footer-links {
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-bottom: 10px;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #9B9B9B;
    padding-bottom: 20px;
}

.nike-site-footer-div1 {
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
}

.nike-site-footer-div1 p:first-of-type {
    margin-bottom: 7px;
}

.nike-web {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.nike-site-footer-div2 p {
    color: var(--white);
    font-family: "PT Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}