:root {
    --grey: #C7C7C7;
    --white: #FFF;
    --grey2: #DCDCDC;
    --violet: #8E32C6;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body,
html {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1091px;
    margin: 0px auto;
}

/* HEADER */


.ColorRave-section {
    background: #012D63;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 33px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.header-content_logo {
    width: 100px;
    height: 60px;
}

nav a {
    text-decoration: none;
    margin-right: 29px;
    color: var(--grey);
    transition: transform .4s ease;
    display: inline-block;
}
nav a:hover {
    transform: scale(1.05);
}

nav a:first-of-type {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    ml200px
}

nav a:last-of-type {
    margin-right: 0;
}

.active {
    color: #FFF;

}

.header-content-last {
    text-decoration: none;
    color: var(--grey2);
}

.wqq {
    margin-left: 8px;
    color: var(--white);
    
}

/* MAIN */
.main-content-img {
    margin-top: 91px;
    width: 160px;
height: 120px;

}

.main-content-section {
    background-image: url(../img/shoes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
flex-shrink: 0;
    padding-top: 91px;
    padding-bottom: 184px;
}

.main-content-img {
    width: 160px;
    height: 120px;
    flex-shrink: 0;
}

.main-content_about {
    font-family: "PT Serif", serif;
    color: var(--white);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

div h1 {
    color: var(--white);
    font-family: "Playfair Display", serif;
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

div h2 {
    color: var(--white);
    font-family: "Playfair Display", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.weeww {
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 18px;
    margin-bottom: 41px;
    
}

.main-content_button {
    color: var(--white);
    background-color: var(--violet);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 20px 61px;
    border-radius: 10px;
    transition: transform .4s ease;
    display: inline-block;
}
.main-content_button:hover {
    transform: scale(1.05);
    color: var(--grey2);
}
.main-advantages_section {
    background-image: url(../img/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 105px;
    padding-bottom: 105px;
}
.main-advantages_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--violet);
    
}
.main-advantages_main_text {
    color: var(--white);
text-align: center;
font-family: "Playfair Display";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.weqqweeqwqwee {
    margin-left: 50px;
    margin-bottom: 25px;
}
.wqqweqweqwe {
    margin-top: 25px;
}
.qweweq {
    margin-right: 50px;
    margin-bottom: 25px;
}
.main-advantages_div h3 {
    margin-left: 91px;
    margin-top: 25px;
}
.main-advantages_div h4 {
    margin-bottom: 25px;
}
.main-advantages_div h5 {
    margin-right: 94px;
    margin-top: 22px;
}
.main-reviews_section {
    background-image: url(../img/group.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 115px;
    padding-top: 24px;
}
.main-reviews_main_text {
    color: var(--white);
text-align: center;
font-family: "Playfair Display";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.main-reviews_rewiews {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-reviews_li:first-of-type {
    border-radius: 15px;
background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;
margin-right: 93px;width: 255px;
height: 292px;

}
.main-reviews_li {
    border-radius: 15px;
background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
margin-right: 93px;
width: 255px;
height: 292px;

}
.main-reviews_li:last-of-type {
    border-radius: 15px;
background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
width: 255px;
height: 292px;

}
.main-reviews_li:first-of-type p:first-of-type {
    color: var(--white);
    padding-top: 49px;
    padding-left: 13px;
    padding-right: 14px;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 8px;
}
.we {
    color: var(--grey2);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 13px;
    margin-bottom: 47px;
}
.main-reviews_li img {
    width: 31px;
height: 31px;
border-radius: 31px;
margin-bottom: 29px;
margin-left: 13px;
}
.main-reviews_li p:first-of-type {
    color: var(--white);
    padding-top: 49px;
    padding-left: 18px;
    padding-right: 9px;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 8px;
}
.main-reviews_li:last-of-type p:first-of-type {
    color: var(--white);
    padding-top: 49px;
    padding-left: 18px;
    padding-right: 9px;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 8px;
}